<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Posts page</title>
</head>
<body>
    <%- include('./partials/header.ejs') %>
    <h2>All posts</h2>
    <div class="posts list">
    
    <% if (posts.length > 0) { %>
        <% posts.forEach(post => { %>
            <div class="singlepost">
                <span>
                    <%= post.username %>
                </span><br>
                
                <a href="/singlepost/<%= post.id %>">
                    <% if (posts.postcontent !== 'undefined') { %>
                        <img alt="" src= <%= post.postcontent %> />
                    <% } %>
                    <h3 class="caption">
                        <%= post.caption %>
                    </h3>
                </a>
            </div>
        <% }) %>
    <% } else { %>
        <p>You did not post anything...</p>
    <% } %>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>
<style scoped lang="scss">
    body {
        background-color: #466bcf;
    }

    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        margin: 30px auto;
    }

    div {
        flex-grow: 10;
        background-color: #d4d4d4;
        display: block;
        margin-top: 20px;
        margin-left: 40px;
        margin-right: 40px;
        border-radius: 8px;
    }

    .timestamp{
        float: right;
        margin: 15px;
    }

    .prof-icon{
        width: 40px;
        height: 40px;
        margin: 5px;
        border-radius: 50%;
        float: left;
    }

    .caption{
        margin: 5px;
        font-weight: normal;
        font-size: large;
    }

    .content-img{
        display: block;
        width: 500px;
    }
</style>