<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Posts page</title>
</head>
<body>
    <%- include('./partials/header.ejs') %>
    <h2>All posts</h2>
    <div class="posts list">
    
    <% if (posts.length > 0) { %>
        <% posts.forEach(post => { %>
            <div class="singlepost">
                <span>
                    <%= post.username %>
                </span><br>
                
                <a href="/singlepost/<%= post.id %>">
                    <% if (posts.postcontent !== 'undefined') { %>
                        <img alt="" src= <%= post.postcontent %> />
                    <% } %>
                    <h3 class="title">
                        <%= post.caption %>
                    </h3>
                </a>
            </div>
        <% }) %>
    <% } else { %>
        <p>You did not post anything...</p>
    <% } %>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>