<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Single post page</title>
</head>

<body>
    <%- include('./partials/header.ejs') %>
        <div class="singlepost">
            <span>
                <%= posts.username %>
            </span><br>
            <div>
                <% if (posts.postcontent !== 'undefined') { %>
                    <img alt="" src= <%= posts.postcontent %> />
                <% } %>
                <h3 class="caption">
                    <%= posts.caption %>
                </h3>
                <a class="delete" data-del="<%= posts.id %>">Delete</a>
            </div>
        </div>
        <script>
            const delreq = document.querySelector('a.delete');
            delreq.addEventListener('click', (e) => {
                const endpoint = `/posts/${delreq.dataset.del}`;
                fetch(endpoint, {
                    method: 'DELETE',
                }).then(window.location.href = '/posts')
            });
        </script>
        <%- include('./partials/footer.ejs') %>
</body>

</html>
<style scoped lang="scss">
    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        margin: 30px auto;
    }
    a:hover {
        background-color: blue;
    }

    div {
        flex-grow: 10;
        background-color: #d4d4d4;
        display: block;
        margin-top: 20px;
        margin-left: 40px;
        margin-right: 40px;
        border-radius: 8px;
    }

    .timestamp{
        float: right;
        margin: 15px;
    }

    .prof-icon{
        width: 40px;
        height: 40px;
        margin: 5px;
        border-radius: 50%;
        float: left;
    }

    .caption{
        margin: 5px;
        font-weight: normal;
        font-size: large;
    }

    .content-img{
        display: block;
        width: 500px;
    }
    body {
        background-color: #466bcf;
    }
</style>